.form{
    background-color: black;
    width: 30%;
    height: 100%;
    margin-top: 6vw;
    padding-left: 9vw;
    margin-right: 1vw;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.formHeading{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.eventNameF, .eventDesF, .dateF, .posterF{
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: larger;
    margin-left: -8vw;
    margin-right: 2vw;
}

.eventNameF input, .eventDesF input, .dateF input, .posterF input{
    height: 40px;
    border: none;
    border-radius: 10px;
    /* padding: 20px; */
}

.eventNameF input:focus, .eventDesF input:focus, .dateF input:focus, .posterF input:focus{
    outline: none;
}

.eventNameF input::placeholder, .eventDesF input::placeholder, .dateF input::placeholder, .posterF input::placeholder{
    padding-left: 10px;
    font-size: medium;
}

.inputHeading{
    padding-bottom: 10px;
}

.createNotice{
    background-color: #1DB954;
    padding: 12px;
    font-size: medium;
    margin-left: -7vw;
    margin-top: 12px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}