body{
    padding: 0;
    margin: 0;
}

.navbar{
    height: 10vh;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLogo{
    height: 10vh;
    margin-left: 2.5rem;
}

.search, .login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput{
    height: 5vh;
    width: 50vw;
    padding: 20px;
    border-radius: 7.5px;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.767);
}

.searchInput input::placeholder{
    text-align: center;
    color: rgba(128, 128, 128, 0.767);
    padding: 10px;
}

.searchInput input:focus{
    outline: none;
}

.loginB{
    height: 5vh;
    width: 10vw;
    margin-right: 20px;
    padding: 20px;
    border-radius: 7.5px;
    border: 1px limegreen solid;
    background-color: limegreen;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-weight: bold;
}