.dashboard{
    /* width: auto; */
    display: flex;
    justify-content: space-between;
    background-color: #1DB954;
}

.heading{
    padding-left: 25px;
}

h3{
    color: gray;
}

.notices{
    width: 60%;

}

.cardElement .card{
    background-color: black;
    color: white;
}

.cardElement .posterImage{
    height: 33vh;
}

.cardElement .image{
    height: 8vh;
}

.cardElement .eventName{
    font-size: large;
}

.cardElement .eventDes{
    font-size: medium;
}

.cardElement .date{
    font-size: medium;
    border-top: white 2px solid;
}

.form{
    background-color: black;
    width: 30%;
    height: 100%;
    margin-top: 6vw;
    padding-left: 9vw;
    margin-right: 1vw;
    border-radius: 10px;
    padding-bottom: 2vw;
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.formHeading{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.eventNameF, .eventDesF, .dateF{
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: larger;
    margin-left: -8vw;
    margin-right: 2vw;
}

.eventNameF input, .eventDesF input, .dateF input{
    height: 40px;
    border: none;
    border-radius: 10px;
    /* padding: 20px; */
}

.eventNameF input:focus, .eventDesF input:focus, .dateF input:focus{
    outline: none;
}

.eventNameF input::placeholder, .eventDesF input::placeholder, .dateF input::placeholder{
    padding-left: 10px;
    font-size: medium;
}

.inputHeading{
    padding-bottom: 10px;
}