.bkgrd{
    background-color: #1DB954;
    display: flex;
}

.kiitLogo{
    width: 50vw;
    height: 89.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: black;
    height: 84vh;
    width: 40vw;
    margin-right: 35px;
    margin-bottom: 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginHeading{
    color: #1DB954;
    font-size: xx-large;
    margin-bottom: 1rem;
}

.loginForm{
    /* background-color: red; */
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: cen/ter; */
}

#email,#password{
    width: 25vw;
    height: 40px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.span{
    color: white;
    font-size: large;
}

.span2{
    color: white;
    /* text-decoration: none; */
    margin: 2px;
}

.forgetPassword{
    margin-bottom: 30px;
}

.signInButton{
    background-color: #1DB954;
    padding: 12px;
    font-size: medium;
    /* margin-left: -7vw; */
    margin-top: 12px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}